<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="integration-suite" verbose="1" >
	
	<parameter name="sftp-host" value="localhost" />
	<parameter name="sftp-port" value="2022" />
	<parameter name="sftp-login" value="quark" />
	<parameter name="sftp-password" value="password" />
	<parameter name="sftp-key" value="src/test/resources/ssh/id_rsa" />
	<parameter name="sftp-key-passphrase" value="quark" />
	<parameter name="sftp-filepath" value="src/test/resources/files/static/file.xml" />
	<parameter name="sftp-static-testdir" value="/files/static"/>
	<parameter name="sftp-dynamic-testdir" value="/files/dynamic"/>
	
	<parameter name="file-utf-8" value="src/test/resources/data/file/file-utf-8.txt" />
	<parameter name="file-iso-8859-1" value="src/test/resources/data/file/file-iso-8859-1.txt" />
	
	<parameter name="db-host" value="localhost" />
	<parameter name="db-port" value="3336" />
	<parameter name="db-login" value="root" />
	<parameter name="db-password" value="password" />
	
	<parameter name="mantisbt-url" value="http://localhost:8081/api/soap/mantisconnect.php" />
	<parameter name="mantisbt-username" value="administrator" />
	<parameter name="mantisbt-password" value="root" />
	<parameter name="mantisbt-project" value="QuarkProject" />
	<parameter name="mantisbt-project-clean-hard" value="QuarkProjectCleanHard" />
	
	<parameter name="chemistry-user" value="admin" />
	<parameter name="chemistry-password" value="admin" />
	<parameter name="chemistry-ws-base-url" value="https://cmis.alfresco.com/alfresco/cmisws" />
	<parameter name="chemistry-atompub-url" value="https://cmis.alfresco.com/api/-default-/public/cmis/versions/1.0/atom" />
	<parameter name="chemistry-repository-id" value="-default-" />
	
	<parameter name="ftp-host" value="localhost" />
	<parameter name="ftp-port" value="2121" />
	<parameter name="ftp-login" value="bob" />
	<parameter name="ftp-password" value="bob" />
	
	<test name="SftpHelperTest">
		<classes>
			<class name="com.github.pierrebeucher.quark.sftp.helper.BaseSftpIT"/>
			<class name="com.github.pierrebeucher.quark.sftp.helper.SftpHelperFilesIT"/>
			<class name="com.github.pierrebeucher.quark.sftp.helper.SftpHelperAuthIT"/>
			<class name="com.github.pierrebeucher.quark.sftp.helper.SftpServiceHelperIT"/>
		</classes>
	</test>
	<test name="FileHelperTest">
		<classes>
			<class name="com.github.pierrebeucher.quark.file.helper.FileHelperIT"/>
		</classes>
	</test>
	<test name="JdbcHelperTest">
		<classes>
			<class name="com.github.pierrebeucher.quark.jdbc.helper.JdbcHelperIT"/>
		</classes>
	</test>
	<test name="MantisBTHelperTest">
		<classes>
			<class name="com.github.pierrebeucher.quark.mantisbt.utils.MantisBTClientIT"/>
			<class name="com.github.pierrebeucher.quark.mantisbt.helper.MantisBTHelperIT"/>
			<class name="com.github.pierrebeucher.quark.mantisbt.helper.MantisBTHelperBuilderIT"/>
		</classes>
	</test>
	<test name="CMISHelperTest">
		<classes>
			<class name="com.github.pierrebeucher.quark.cmis.helper.ChemistryCMISHelperIT"/>
		</classes>
	</test>
	<test name="FtpHelperTest">
		<classes>
			<class name="com.github.pierrebeucher.quark.ftp.helper.FtpHelperIT"/>
		</classes>
	</test>
	
</suite>