<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="integration-suite" verbose="1" >
	
	<parameter name="sftp-host" value="localhost" />
	<parameter name="sftp-port" value="2022" />
	<parameter name="sftp-login" value="quark" />
	<parameter name="sftp-password" value="password" />
	<parameter name="sftp-key" value="src/test/resources/ssh/id_rsa" />
	<parameter name="sftp-key-passphrase" value="quark" />
	<parameter name="sftp-filepath" value="src/test/resources/files/file.xml" />
	<parameter name="sftp-testdir" value="/files" />
	
	<parameter name="file-utf-8" value="src/test/resources/data/file/file-utf-8.txt" />
	<parameter name="file-iso-8859-1" value="src/test/resources/data/file/file-iso-8859-1.txt" />
	
	<parameter name="db-host" value="localhost" />
	<parameter name="db-port" value="3336" />
	<parameter name="db-login" value="root" />
	<parameter name="db-password" value="password" />
	
	<parameter name="mantisbt-url" value="http://localhost:8080/api/soap/mantisconnect.php" />
	<parameter name="mantisbt-username" value="administrator" />
	<parameter name="mantisbt-password" value="root" />
	<parameter name="mantisbt-project" value="QuarkProject" />
	
	<test name="SftpHelperTest">
		<classes>
			<class name="org.atom.quark.sftp.helper.SftpHelperFilesIT"/>
			<class name="org.atom.quark.sftp.helper.SftpHelperAuthIT"/>
		</classes>
	</test>
	
	<test name="FileHelperTest">
		<classes>
			<class name="org.atom.quark.file.helper.FileHelperIT"/>
		</classes>
	</test>
	
	<test name="JdbcHelperTest">
		<classes>
			<class name="org.atom.quark.jdbc.helper.JdbcHelperIT"/>
		</classes>
	</test>
	
	<test name="MantisBTHelperTest">
		<classes>
			<class name="org.atom.quark.mantisbt.utils.MantisBTClientIT"/>
		</classes>
	</test>
</suite>